@charset "UTF-8";
.cell--table{
  table-layout:fixed;
  width:100%;
  border: 1px solid #000000;
  text-align: center;
}
.cell--table th{
  background: #319c4a;
  line-height: 26px;
  border: 1px solid #000000;
  padding: 10px;
}
.cell--table tr td{
  border: 1px solid #000000;
  font-size: 18px;
}

.cell--table tr:nth-child(odd){
  background: #d5ffc7;
}
.cell--table tr:nth-child(even){
  background: #bcbcbc;
}
.cell--table tr:last-child{
  border-top: 1px double rgb(255,255,255);
}